nav img.logo {
  width: 100px;
}

nav.navbar {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav.navbar ul {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav.navbar ul li {
  font-size: 14px;
  font-weight: 400;
  float: left;
  /* cursor: pointer; */
  text-transform: uppercase;
}

nav.navbar ul li:not(:first-of-type) {
  margin: 0 0 0 20px;
}

.hashlink {
  color: #f3f3f3;
}
