@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Josefin Sans", sans-serif;
  outline: none;
}

body {
  background-image: linear-gradient(
    to right top,
    #654ca1,
    #594095,
    #4c358a,
    #402a7e,
    #331f73,
    #2f1b6d,
    #2b1767,
    #271361,
    #2a165f,
    #2d185d,
    #301b5b,
    #321d59
  );
  width: 100%;
  height: 100vh;
}

.container {
  max-width: 1600px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
